{
    "Connections": [
        {
            "Key": "Aoc",
            "ConnectionString": "Data Source=.; Initial Catalog=Aoc;uid=sa;pwd=123456",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.ManagerRole",
                    "Identifier": "ManagerRole",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ManagerAccount",
                    "Identifier": "ManagerAccount",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ShopGrade",
                    "Identifier": "ShopGrade",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.AgreementTemplate",
                    "Identifier": "AgreementTemplate",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Agreement",
                    "Identifier": "Agreement",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SNGenerate",
                    "Identifier": "SnGenerate",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SN",
                    "Identifier": "Sn",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SNImport",
                    "Identifier": "SnImport",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductLine",
                    "Identifier": "ProductLine",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductSerial",
                    "Identifier": "ProductSerial",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductVersion",
                    "Identifier": "ProductVersion",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.S_Province",
                    "Identifier": "SProvince",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.S_City",
                    "Identifier": "SCity",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.S_District",
                    "Identifier": "SDistrict",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Region",
                    "Identifier": "Region",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ScorePolicy",
                    "Identifier": "ScorePolicy",
                    "Module": "Aoc",
                    "ConnectionKey": "Aoc",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=DiiL.Serene_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=DiiL.Serene_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\DiiL.Serene\\DiiL.Serene.Web\\DiiL.Serene.Web.csproj",
    "RootNamespace": "DiiL.Serene",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true
}