@*@{
        ViewData["Title"] = Serenity.LocalText.Get("Db.Aoc.Tenants.EntityPlural");
    }

    <div id="GridDiv"></div>

    <script type="text/javascript">
        jQuery(function () {
            new DiiL.Serene.Aoc.TenantsGrid($('#GridDiv'), {}).init();

            Q.initFullHeightGridPage($('#GridDiv'));
        });
    </script>*@
<h1>刘帅</h1>