USE [Aoc]
GO
/****** Object:  Table [dbo].[S_District]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[S_District](
	[districtId] [int] NOT NULL,
	[districtName] [varchar](50) NULL,
	[cityId] [int] NULL,
 CONSTRAINT [PK_dbo.S_District] PRIMARY KEY CLUSTERED 
(
	[districtId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[S_District] ([districtId], [districtName], [cityId]) VALUES (1, N'东城区', 1)
INSERT [dbo].[S_District] ([districtId], [districtName], [cityId]) VALUES (2, N'西城区', 1)
INSERT [dbo].[S_District] ([districtId], [districtName], [cityId]) VALUES (3, N'崇文区', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
/****** Object:  Table [dbo].[ShopReviewRecord]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopReviewRecord](
	[reviewId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[score] [int] NOT NULL,
	[remark] [varchar](128) NULL,
	[time] [datetime] NOT NULL,
	[term] [varchar](50) NOT NULL,
	[platformProviderManagerId] [int] NULL,
	[areaManagerId] [int] NULL,
	[managerUserName] [int] NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShopReviewRecord] PRIMARY KEY CLUSTERED 
(
	[reviewId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShopReviewItem]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopReviewItem](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[parentItemId] [int] NOT NULL,
	[content] [varchar](500) NOT NULL,
	[orders] [int] NOT NULL,
	[score] [int] NULL,
	[status] [varchar](50) NOT NULL,
	[editTime] [datetime] NULL,
	[level] [int] NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShopReviewItem] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShopSeriesNumber]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopSeriesNumber](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[number] [varchar](128) NOT NULL,
	[areaManagerid] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShopSeriesNumber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShopSellerRole]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopSellerRole](
	[roleName] [varchar](50) NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShopSellerRole] PRIMARY KEY CLUSTERED 
(
	[roleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEMProperty]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMProperty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[propertyid] [int] NOT NULL,
	[createtime] [datetime] NOT NULL,
	[begintime] [datetime] NOT NULL,
	[endtime] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
	[SEMProperty2_id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SEMProperty] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopScore]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopScore](
	[shopID] [varchar](50) NOT NULL,
	[total] [bigint] NULL,
	[exchange] [bigint] NULL,
	[remain] [bigint] NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShopScore] PRIMARY KEY CLUSTERED 
(
	[shopID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PolicyCategory]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PolicyCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [varchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.PolicyCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Policy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[title] [varchar](100) NOT NULL,
	[description] [varchar](100) NULL,
	[filePath] [varchar](100) NOT NULL,
	[type] [varchar](20) NULL,
	[categoryId] [int] NULL,
	[createTime] [datetime] NULL,
	[roleId] [int] NULL,
 CONSTRAINT [PK_dbo.Policy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PlatformRecognizedConfirmation]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlatformRecognizedConfirmation](
	[confirmedId] [int] IDENTITY(1,1) NOT NULL,
	[managerId] [int] NOT NULL,
	[recognizedMoney] [decimal](18, 0) NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[confirmedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.PlatformRecognizedConfirmation] PRIMARY KEY CLUSTERED 
(
	[confirmedId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketingChannel]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MarketingChannel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filePath] [varchar](100) NOT NULL,
	[linkUrl] [varchar](100) NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[createTime] [datetime] NOT NULL,
	[roleId] [int] NULL,
 CONSTRAINT [PK_dbo.MarketingChannel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ManagerRole]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ManagerRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](128) NOT NULL,
	[description] [varchar](128) NULL,
 CONSTRAINT [PK_dbo.ManagerRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ManagerRole] ON
INSERT [dbo].[ManagerRole] ([id], [name], [description]) VALUES (3, N'平台商', N'平台商')
INSERT [dbo].[ManagerRole] ([id], [name], [description]) VALUES (4, N'区域管理员', N'区域管理员')
INSERT [dbo].[ManagerRole] ([id], [name], [description]) VALUES (5, N'大区域管理员', N'大区域管理员')
SET IDENTITY_INSERT [dbo].[ManagerRole] OFF
/****** Object:  Table [dbo].[AgreementApproveResult]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AgreementApproveResult](
	[approveResult] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.AgreementApproveResult] PRIMARY KEY CLUSTERED 
(
	[approveResult] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FreeTrialCategory]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FreeTrialCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[createTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.FreeTrialCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExProperty_Version]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExProperty_Version](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[exPropertyId] [int] NOT NULL,
	[versionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExProperty_Version] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Region] ON
INSERT [dbo].[Region] ([Id], [Name], [CreateTime]) VALUES (1, N'华北', CAST(0x0000A61E00E8B69C AS DateTime))
INSERT [dbo].[Region] ([Id], [Name], [CreateTime]) VALUES (2, N'华中', CAST(0x0000A61E00000000 AS DateTime))
INSERT [dbo].[Region] ([Id], [Name], [CreateTime]) VALUES (3, N'东北', CAST(0x0000A61E00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Region] OFF
/****** Object:  Table [dbo].[EC_Complain]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EC_Complain](
	[complainId] [int] IDENTITY(1,1) NOT NULL,
	[complainReason] [varchar](256) NULL,
	[complainTime] [datetime] NULL,
	[plaintiffUserId] [int] NOT NULL,
	[status] [varchar](128) NULL,
	[adjudgement] [varchar](128) NULL,
	[adjudgementReport] [varchar](256) NULL,
	[adjudgementTime] [datetime] NULL,
	[attachment] [varchar](256) NULL,
	[shopURL] [varchar](256) NULL,
	[company] [varchar](128) NULL,
	[defendantCompany] [varchar](128) NULL,
 CONSTRAINT [PK_dbo.EC_Complain] PRIMARY KEY CLUSTERED 
(
	[complainId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LanguageId] [nvarchar](10) NOT NULL,
	[LanguageName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Languages] ON
INSERT [dbo].[Languages] ([Id], [LanguageId], [LanguageName]) VALUES (1, N'en', N'English')
INSERT [dbo].[Languages] ([Id], [LanguageId], [LanguageName]) VALUES (2, N'ru', N'Russian')
INSERT [dbo].[Languages] ([Id], [LanguageId], [LanguageName]) VALUES (3, N'es', N'Spanish')
SET IDENTITY_INSERT [dbo].[Languages] OFF
/****** Object:  Table [dbo].[VersionInfo]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VersionInfo](
	[Version] [bigint] NOT NULL,
	[AppliedOn] [datetime] NULL,
	[Description] [nvarchar](1024) NULL
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [UC_Version] ON [dbo].[VersionInfo] 
(
	[Version] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[VersionInfo] ([Version], [AppliedOn], [Description]) VALUES (20160602140000, CAST(0x0000A61B0081E520 AS DateTime), N'AocDB_20160602_140000_Initial')
INSERT [dbo].[VersionInfo] ([Version], [AppliedOn], [Description]) VALUES (20160603113000, CAST(0x0000A61B0081E520 AS DateTime), N'AocDB_20160603_113000_Permissions')
INSERT [dbo].[VersionInfo] ([Version], [AppliedOn], [Description]) VALUES (20160603170400, CAST(0x0000A61A00AD38EC AS DateTime), N'AocIPDB_20160603_170400_Initial')
/****** Object:  Table [dbo].[UserPunish]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserPunish](
	[punishmentId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[socre] [int] NULL,
	[time] [datetime] NULL,
	[managerUserName] [varchar](128) NOT NULL,
	[reason] [varchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserPunish] PRIMARY KEY CLUSTERED 
(
	[punishmentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPreferences]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPreferences](
	[UserPreferenceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PreferenceType] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserPreferences] PRIMARY KEY CLUSTERED 
(
	[UserPreferenceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserPreferences_UserId_PreferenceType_Name] ON [dbo].[UserPreferences] 
(
	[UserId] ASC,
	[PreferenceType] ASC,
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialRewardPolicy]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialRewardPolicy](
	[policyId] [int] IDENTITY(1,1) NOT NULL,
	[beginTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
	[editTime] [datetime] NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SpecialRewardPolicy] PRIMARY KEY CLUSTERED 
(
	[policyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SNRecycleDetail]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SNRecycleDetail](
	[id] [int] NOT NULL,
	[recycleTaskId] [int] NOT NULL,
	[SN] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[snPrefix] [varchar](32) NULL,
	[snValue] [int] NULL,
	[userid] [int] NULL,
	[companyname] [varchar](50) NULL,
	[datetime] [datetime] NULL,
	[userjugestatus] [int] NULL,
	[snLast2Char] [varchar](50) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SNRecycleDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[recycleTaskId] ASC,
	[SN] ASC,
	[status] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SNRecycle]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SNRecycle](
	[recycleTaskId] [int] IDENTITY(1,1) NOT NULL,
	[orderNumber] [varchar](50) NULL,
	[platformId] [int] NULL,
	[recylceCount] [int] NULL,
	[recylceFailedCount] [int] NULL,
	[reclyceTime] [datetime] NULL,
	[managerUsreName] [varchar](128) NULL,
	[platformName] [varchar](50) NULL,
	[isJobFinished] [bit] NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SNRecycle] PRIMARY KEY CLUSTERED 
(
	[recycleTaskId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SNComplain]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SNComplain](
	[complainId] [int] IDENTITY(1,1) NOT NULL,
	[complainReason] [varchar](256) NULL,
	[complainTime] [datetime] NULL,
	[sn] [varchar](50) NOT NULL,
	[snScore] [int] NULL,
	[snProductVersionId] [int] NOT NULL,
	[plaintiffUserId] [int] NOT NULL,
	[defendantUserId] [int] NOT NULL,
	[defendantSNImportRecordId] [int] NULL,
	[status] [varchar](128) NULL,
	[adjudgement] [varchar](128) NULL,
	[adjudgementReport] [varchar](256) NULL,
	[adjudgementTime] [datetime] NULL,
	[punishScore] [int] NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SNComplain] PRIMARY KEY CLUSTERED 
(
	[complainId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StatusCollection]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusCollection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_StatusCollection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [PK_dbo.Name] ON [dbo].[StatusCollection] 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StatusCollection] ON
INSERT [dbo].[StatusCollection] ([Id], [Name], [CreateTime]) VALUES (1, N'正常', CAST(0x0000A62801365179 AS DateTime))
INSERT [dbo].[StatusCollection] ([Id], [Name], [CreateTime]) VALUES (2, N'未激活', CAST(0x0000A62801366496 AS DateTime))
INSERT [dbo].[StatusCollection] ([Id], [Name], [CreateTime]) VALUES (3, N'启用', CAST(0x0000A62801366AFD AS DateTime))
SET IDENTITY_INSERT [dbo].[StatusCollection] OFF
/****** Object:  Table [dbo].[TrainingMaterial]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrainingMaterial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[fileType] [varchar](20) NULL,
	[filePath] [nvarchar](max) NULL,
	[fileAmount] [int] NULL,
	[viewAmount] [int] NULL,
	[parentFolderId] [int] NULL,
	[fileSize] [varchar](10) NULL,
	[modifiedDate] [datetime] NULL,
	[createDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.TrainingMaterial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tenants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tenants] ON
INSERT [dbo].[Tenants] ([Id], [Name]) VALUES (1, N'MNT Tenant')
INSERT [dbo].[Tenants] ([Id], [Name]) VALUES (2, N'TV Tenant')
INSERT [dbo].[Tenants] ([Id], [Name]) VALUES (3, N'SI Tenant')
SET IDENTITY_INSERT [dbo].[Tenants] OFF
/****** Object:  Table [dbo].[SysUsreActionRecord]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysUsreActionRecord](
	[recordId] [int] NOT NULL,
	[userRole] [int] NULL,
	[userName] [varchar](128) NULL,
	[actionName] [varchar](64) NULL,
	[actionData] [varchar](2048) NULL,
	[remark] [varchar](1024) NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_dbo.SysUsreActionRecord] PRIMARY KEY CLUSTERED 
(
	[recordId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysRewardRecord]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysRewardRecord](
	[id] [int] NOT NULL,
	[userId] [int] NULL,
	[userConfirmTime] [datetime] NULL,
	[money] [decimal](8, 2) NULL,
	[reason] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.SysRewardRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysMessageHistory]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysMessageHistory](
	[taskId] [int] IDENTITY(1,1) NOT NULL,
	[sendStatus] [bit] NULL,
	[numberOfFailures] [int] NULL,
	[numberOfSuccessful] [int] NULL,
	[createTime] [datetime] NULL,
	[messageType] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.SysMessageHistory] PRIMARY KEY CLUSTERED 
(
	[taskId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SysMessage]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SysMessage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](128) NULL,
	[bodyUrl] [varchar](256) NULL,
	[body] [varchar](1024) NULL,
	[type] [varchar](50) NULL,
	[source] [varchar](50) NULL,
	[priority] [varchar](50) NULL,
	[sender] [varchar](128) NULL,
	[sendTime] [datetime] NOT NULL,
	[hasRead] [bit] NULL,
	[recipientUserName] [varchar](128) NULL,
	[taskId] [int] NULL,
 CONSTRAINT [PK_dbo.SysMessage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SpecialRewardPolicyDetail]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SpecialRewardPolicyDetail](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[policyId] [int] NOT NULL,
	[productVersionId] [int] NOT NULL,
	[productVersionName] [varchar](50) NOT NULL,
	[platformProviderRewardMoney] [int] NOT NULL,
	[userRewardMoney] [int] NOT NULL,
	[productLineId] [int] NOT NULL,
	[productSerialId] [int] NOT NULL,
	[begintime] [datetime] NOT NULL,
	[endtime] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SpecialRewardPolicyDetail] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductLine]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[createTime] [datetime] NOT NULL,
	[status] [nvarchar](6) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductLine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductLine] ON
INSERT [dbo].[ProductLine] ([id], [name], [createTime], [status], [TenantId]) VALUES (1, N'MNT', CAST(0x0000A61B00000000 AS DateTime), N'1', 1)
INSERT [dbo].[ProductLine] ([id], [name], [createTime], [status], [TenantId]) VALUES (2, N'TV', CAST(0x0000A61B00000000 AS DateTime), N'1', 2)
INSERT [dbo].[ProductLine] ([id], [name], [createTime], [status], [TenantId]) VALUES (3, N'test', CAST(0x0000A62B00000000 AS DateTime), N'1', 1)
SET IDENTITY_INSERT [dbo].[ProductLine] OFF
/****** Object:  Table [dbo].[ProductForFreeTrail]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductForFreeTrail](
	[trialId] [int] IDENTITY(1,1) NOT NULL,
	[productVesionId] [int] NOT NULL,
	[productVesionName] [varchar](50) NOT NULL,
	[productSerialId] [int] NOT NULL,
	[productSerialName] [varchar](50) NOT NULL,
	[productLineId] [int] NOT NULL,
	[productLineName] [varchar](50) NOT NULL,
	[beginTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[allowance] [int] NOT NULL,
	[createTime] [datetime] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[category] [int] NOT NULL,
	[classification] [varchar](50) NULL,
	[limit] [nvarchar](150) NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductForFreeTrail] PRIMARY KEY CLUSTERED 
(
	[trialId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FreeTrialPolicy]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FreeTrialPolicy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[description] [nvarchar](100) NULL,
	[filePath] [varchar](100) NULL,
	[swfPath] [varchar](100) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FreeTrialPolicy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExchangeObject]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExchangeObject](
	[objectId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](128) NOT NULL,
	[stock] [int] NOT NULL,
	[exchangeCountPerUser] [int] NULL,
	[scorePrice] [int] NOT NULL,
	[price] [decimal](18, 0) NULL,
	[picture] [varchar](64) NULL,
	[description] [varchar](1024) NULL,
	[objectStatus] [varchar](50) NULL,
	[createTime] [datetime] NULL,
	[exchangedCount] [int] NULL,
	[beginTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[category] [varchar](10) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExchangeObject] PRIMARY KEY CLUSTERED 
(
	[objectId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShopReviewRecordDetail]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopReviewRecordDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recordId] [int] NOT NULL,
	[reviewItemId] [int] NOT NULL,
	[score] [int] NOT NULL,
	[reviewTime] [datetime] NULL,
	[userId] [int] NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[managerUserName] [int] NULL,
	[term] [varchar](50) NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShopReviewRecordDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShopGrade]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopGrade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[parentId] [int] NULL,
	[name] [varchar](50) NULL,
	[maxSNNumber] [int] NULL,
	[maxStreetShopMoney] [decimal](18, 2) NULL,
	[maxFreeTrialCount] [int] NOT NULL,
	[status] [int] NOT NULL,
	[specialAmount] [int] NOT NULL,
	[order] [int] NOT NULL,
	[TenantId] [int] NULL,
 CONSTRAINT [PK_dbo.ShopGrade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ShopGrade] ON
INSERT [dbo].[ShopGrade] ([Id], [parentId], [name], [maxSNNumber], [maxStreetShopMoney], [maxFreeTrialCount], [status], [specialAmount], [order], [TenantId]) VALUES (1, NULL, N'金牌店', 0, CAST(0.00 AS Decimal(18, 2)), 0, 1, 1, 1, 1)
INSERT [dbo].[ShopGrade] ([Id], [parentId], [name], [maxSNNumber], [maxStreetShopMoney], [maxFreeTrialCount], [status], [specialAmount], [order], [TenantId]) VALUES (2, NULL, N'皓月店', 0, CAST(0.00 AS Decimal(18, 2)), 0, 1, 1, 20, 2)
INSERT [dbo].[ShopGrade] ([Id], [parentId], [name], [maxSNNumber], [maxStreetShopMoney], [maxFreeTrialCount], [status], [specialAmount], [order], [TenantId]) VALUES (3, 1, N'JA', 0, CAST(0.00 AS Decimal(18, 2)), 2, 1, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[ShopGrade] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleId], [RoleName], [TenantId]) VALUES (1, N'系统管理员', 4)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [TenantId]) VALUES (2, N'MNT管理员', 1)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [TenantId]) VALUES (3, N'TV管理员', 2)
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[ProductExProperty]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductExProperty](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[orderId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductExProperty] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[S_Province]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[S_Province](
	[provinceId] [int] NOT NULL,
	[provinceName] [varchar](50) NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.S_Province] PRIMARY KEY CLUSTERED 
(
	[provinceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[S_Province] ([provinceId], [provinceName], [RegionId]) VALUES (1, N'北京市', 1)
INSERT [dbo].[S_Province] ([provinceId], [provinceName], [RegionId]) VALUES (2, N'天津市', 1)
INSERT [dbo].[S_Province] ([provinceId], [provinceName], [RegionId]) VALUES (3, N'河北省', 1)
/****** Object:  Table [dbo].[S_City]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[S_City](
	[cityId] [int] NOT NULL,
	[provinceId] [int] NULL,
	[cityName] [varchar](50) NULL,
	[areaCode] [varchar](10) NULL,
	[zipCode] [varchar](10) NULL,
 CONSTRAINT [PK_dbo.S_City] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[S_City] ([cityId], [provinceId], [cityName], [areaCode], [zipCode]) VALUES (1, 1, N'北京市', N'010', N'100000')
INSERT [dbo].[S_City] ([cityId], [provinceId], [cityName], [areaCode], [zipCode]) VALUES (2, 2, N'天津市', N'022', N'100000')
INSERT [dbo].[S_City] ([cityId], [provinceId], [cityName], [areaCode], [zipCode]) VALUES (3, 3, N'石家庄市', N'0311', N'050000')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[ProductSerial]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSerial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[createTime] [datetime] NOT NULL,
	[status] [nvarchar](6) NULL,
	[ProductLineId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductSerial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductSerial] ON
INSERT [dbo].[ProductSerial] ([id], [name], [createTime], [status], [ProductLineId], [TenantId]) VALUES (1, N'81S', CAST(0x0000A61B00000000 AS DateTime), N'1', 1, 1)
INSERT [dbo].[ProductSerial] ([id], [name], [createTime], [status], [ProductLineId], [TenantId]) VALUES (2, N'82S', CAST(0x0000A61B00000000 AS DateTime), N'1', 1, 1)
INSERT [dbo].[ProductSerial] ([id], [name], [createTime], [status], [ProductLineId], [TenantId]) VALUES (3, N'CETV', CAST(0x0000A61B00000000 AS DateTime), N'1', 2, 2)
SET IDENTITY_INSERT [dbo].[ProductSerial] OFF
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RolePermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[PermissionKey] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RolePermissionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UQ_RolePermissions_RoleId_PermissionKey] ON [dbo].[RolePermissions] 
(
	[RoleId] ASC,
	[PermissionKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON
INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionKey]) VALUES (1, 2, N'Administration')
INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionKey]) VALUES (77, 2, N'Administration:Security')
INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionKey]) VALUES (78, 2, N'Aoc:Agreement:Modify')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
/****** Object:  Table [dbo].[SEMRewardPolicy]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMRewardPolicy](
	[policyId] [int] IDENTITY(1,1) NOT NULL,
	[shopGradeId] [int] NOT NULL,
	[totalAmount] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[editTime] [datetime] NOT NULL,
	[begintime] [datetime] NOT NULL,
	[endtime] [datetime] NOT NULL,
	[amount] [nvarchar](150) NOT NULL,
	[maxScore] [int] NOT NULL,
	[notStreetReward] [decimal](8, 2) NOT NULL,
	[streetReward] [decimal](8, 2) NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SEMRewardPolicy] PRIMARY KEY CLUSTERED 
(
	[policyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerAccount]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ManagerAccount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](128) NOT NULL,
	[status] [smallint] NOT NULL,
	[roleId] [int] NOT NULL,
	[password] [varchar](128) NOT NULL,
	[name] [varchar](128) NULL,
	[gender] [int] NULL,
	[idCardNumber] [varchar](20) NULL,
	[email] [varchar](128) NULL,
	[mobilePhoneNumber] [varchar](20) NULL,
	[telePhoneNumber] [varchar](20) NULL,
	[createTime] [datetime] NULL,
	[lastLoginTime] [datetime] NULL,
	[companyName] [varchar](128) NULL,
	[address] [varchar](128) NULL,
	[RegionId] [int] NOT NULL,
	[ProvinceId] [int] NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ManagerAccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [INDEX_UserName] ON [dbo].[ManagerAccount] 
(
	[userName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ManagerAccount] ON
INSERT [dbo].[ManagerAccount] ([id], [userName], [status], [roleId], [password], [name], [gender], [idCardNumber], [email], [mobilePhoneNumber], [telePhoneNumber], [createTime], [lastLoginTime], [companyName], [address], [RegionId], [ProvinceId], [TenantId]) VALUES (14, N'BJAOC', 1, 3, N'123456', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1, 1)
INSERT [dbo].[ManagerAccount] ([id], [userName], [status], [roleId], [password], [name], [gender], [idCardNumber], [email], [mobilePhoneNumber], [telePhoneNumber], [createTime], [lastLoginTime], [companyName], [address], [RegionId], [ProvinceId], [TenantId]) VALUES (15, N'CCAOC', 1, 3, N'12345', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 7, 1)
INSERT [dbo].[ManagerAccount] ([id], [userName], [status], [roleId], [password], [name], [gender], [idCardNumber], [email], [mobilePhoneNumber], [telePhoneNumber], [createTime], [lastLoginTime], [companyName], [address], [RegionId], [ProvinceId], [TenantId]) VALUES (18, N'AMAOC', 1, 3, N'serenity', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 33, 1)
SET IDENTITY_INSERT [dbo].[ManagerAccount] OFF
/****** Object:  Table [dbo].[FreeTrialList]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FreeTrialList](
	[listId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[attachementName] [varchar](128) NULL,
	[attachementFilePath] [varchar](256) NULL,
	[trialTime] [datetime] NULL,
	[userDescription] [varchar](256) NULL,
	[status] [varchar](50) NULL,
	[apr1_PlatformproviderManager] [varchar](50) NULL,
	[apr1_comment] [varchar](500) NULL,
	[apr1_ApproveTime] [datetime] NULL,
	[apr2_AreaManager] [varchar](50) NULL,
	[apr2_comment] [varchar](500) NULL,
	[apr2_ApproveTime] [datetime] NULL,
	[apr3_AdminManager] [varchar](50) NULL,
	[apr3_comment] [varchar](500) NULL,
	[apr3_ApproveTime] [datetime] NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[freeTrialId] [int] NOT NULL,
	[platformProviderManagerId] [int] NULL,
	[areaManagerId] [int] NULL,
	[apr4_comment] [varchar](500) NULL,
	[apr4_ApproveTime] [datetime] NULL,
	[apr4_BigAreaManager] [varchar](50) NULL,
	[bigAreaManagerId] [int] NULL,
	[closeUpFilePath] [varchar](128) NULL,
	[distantViewFilePath] [varchar](128) NULL,
	[requiredFilePath1] [varchar](128) NULL,
	[requiredFilePath2] [varchar](128) NULL,
	[requiredFilePath3] [varchar](128) NULL,
	[requiredFilePath4] [varchar](128) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FreeTrialList] PRIMARY KEY CLUSTERED 
(
	[listId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AgreementTemplate]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AgreementTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[agreementType] [int] NOT NULL,
	[shopGradeId] [int] NOT NULL,
	[approveFlow] [varchar](50) NOT NULL,
	[Content] [ntext] NOT NULL,
	[status] [smallint] NOT NULL,
	[type] [varchar](8) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AgreementTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AgreementTemplate] ON
SET IDENTITY_INSERT [dbo].[AgreementTemplate] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Source] [nvarchar](4) NOT NULL,
	[PasswordHash] [nvarchar](86) NOT NULL,
	[PasswordSalt] [nvarchar](10) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[InsertUserId] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUserId] [int] NULL,
	[LastDirectoryUpdate] [datetime] NULL,
	[IsActive] [smallint] NOT NULL,
	[TenantId] [int] NOT NULL,
	[Gender] [int] NULL,
	[IdCardNumber] [varchar](20) NULL,
	[MobilePhoneNumber] [varchar](20) NULL,
	[TelePhoneNumber] [varchar](20) NULL,
	[CompanyName] [nvarchar](128) NULL,
	[Address] [nvarchar](128) NULL,
	[RegionId] [int] NULL,
	[ProvinceId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UserRoles]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId_UserId] ON [dbo].[UserRoles] 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserRoles_UserId_RoleId] ON [dbo].[UserRoles] 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId]) VALUES (4, 2, 2)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId]) VALUES (9, 3, 4)
INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId]) VALUES (11, 5, 3)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[UserPermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Grant] [bit] NOT NULL,
	[PermissionKey] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserPermissions] PRIMARY KEY CLUSTERED 
(
	[UserPermissionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UQ_UserPermissions_UserId_PermissionKey] ON [dbo].[UserPermissions] 
(
	[UserId] ASC,
	[PermissionKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserPermissions] ON
INSERT [dbo].[UserPermissions] ([UserPermissionId], [UserId], [Grant], [PermissionKey]) VALUES (2, 4, 1, N'Administration:Translation')
INSERT [dbo].[UserPermissions] ([UserPermissionId], [UserId], [Grant], [PermissionKey]) VALUES (14, 2, 1, N'Aoc:General')
INSERT [dbo].[UserPermissions] ([UserPermissionId], [UserId], [Grant], [PermissionKey]) VALUES (18, 2, 1, N'Aoc:ProductSerial:Delete')
SET IDENTITY_INSERT [dbo].[UserPermissions] OFF
/****** Object:  Table [dbo].[UserAccount]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAccount](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[shopId] [varchar](50) NULL,
	[userName] [varchar](128) NOT NULL,
	[password] [varchar](128) NOT NULL,
	[platformProviderManagerId] [int] NULL,
	[platformProviderManagerUserName] [varchar](128) NULL,
	[areaManagerId] [int] NULL,
	[areaManagerUserName] [varchar](128) NULL,
	[addr_ProvinceID] [int] NULL,
	[addr_Province] [varchar](50) NULL,
	[addr_CityID] [int] NULL,
	[addr_City] [varchar](50) NULL,
	[addr_DistrictID] [int] NULL,
	[addr_District] [varchar](50) NULL,
	[addr_Town] [varchar](125) NULL,
	[addr_Street] [varchar](128) NULL,
	[addr_Detail] [varchar](128) NULL,
	[gender] [bit] NULL,
	[idCardNumber] [varchar](20) NULL,
	[name] [varchar](128) NULL,
	[mobilePhoneNumber] [varchar](20) NULL,
	[telePhoneNumber] [varchar](20) NULL,
	[email] [varchar](128) NOT NULL,
	[createTime] [datetime] NOT NULL,
	[lastLoginTime] [datetime] NULL,
	[isNew] [bit] NOT NULL,
	[isRealShop] [bit] NOT NULL,
	[isStreetShop] [bit] NOT NULL,
	[userStatus] [varchar](50) NOT NULL,
	[shopStatus] [varchar](50) NOT NULL,
	[shopName] [varchar](128) NULL,
	[companyName] [varchar](128) NULL,
	[shopExpiredTime] [datetime] NULL,
	[shopOpenTime] [datetime] NULL,
	[shopCloseTime] [datetime] NULL,
	[onlineShopUrl] [varchar](256) NULL,
	[scoreOfTotal] [int] NOT NULL,
	[scoreOfPunish] [int] NOT NULL,
	[scoreOfExchange] [int] NOT NULL,
	[scoreOfRemain] [int] NOT NULL,
	[isFirstAgreement] [bit] NULL,
	[lanhaifuzeren] [varchar](50) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserAccount] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
/****** Object:  Table [dbo].[ProductVersion]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVersion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[createTime] [datetime] NOT NULL,
	[status] [nvarchar](6) NULL,
	[ProductSerialId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductVersion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductVersion] ON
INSERT [dbo].[ProductVersion] ([id], [name], [createTime], [status], [ProductSerialId], [TenantId]) VALUES (1, N'I2281FW/BW', CAST(0x0000A61B00000000 AS DateTime), N'1', 2, 1)
INSERT [dbo].[ProductVersion] ([id], [name], [createTime], [status], [ProductSerialId], [TenantId]) VALUES (2, N'LE42A3320/61', CAST(0x0000A61B00000000 AS DateTime), N'1', 3, 2)
INSERT [dbo].[ProductVersion] ([id], [name], [createTime], [status], [ProductSerialId], [TenantId]) VALUES (3, N'LE42A3320/63', CAST(0x0000A62B00000000 AS DateTime), N'1', 4, 1)
SET IDENTITY_INSERT [dbo].[ProductVersion] OFF
/****** Object:  Table [dbo].[ShopSeller]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShopSeller](
	[sellerId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[roleName] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[birthday] [datetime] NULL,
	[idCardNumber] [varchar](20) NOT NULL,
	[createTime] [datetime] NULL,
	[isOnWorking] [bit] NOT NULL,
	[idCardPicPath] [varchar](256) NULL,
	[address] [varchar](256) NULL,
	[phoneNumber] [varchar](20) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShopSeller] PRIMARY KEY CLUSTERED 
(
	[sellerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ScorePolicy]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScorePolicy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productVersionId] [int] NOT NULL,
	[beginTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[score] [int] NOT NULL,
	[description] [varchar](256) NULL,
	[status] [varchar](50) NOT NULL,
	[size] [varchar](20) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScorePolicy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ScorePolicy] ON
INSERT [dbo].[ScorePolicy] ([id], [productVersionId], [beginTime], [endTime], [score], [description], [status], [size], [TenantId]) VALUES (2, 1, CAST(0x0000A62600000000 AS DateTime), CAST(0x0000A62700000000 AS DateTime), 10, NULL, N'1', N'23.8', 1)
SET IDENTITY_INSERT [dbo].[ScorePolicy] OFF
/****** Object:  Table [dbo].[ScoreExchangeRecord]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScoreExchangeRecord](
	[exchangeId] [int] IDENTITY(1,1) NOT NULL,
	[objectId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[exchangeTime] [datetime] NULL,
	[scoreCost] [int] NULL,
	[logisticsCompany] [varchar](128) NULL,
	[logisticsNumber] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[userConfirmReceiveTime] [datetime] NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScoreExchangeRecord] PRIMARY KEY CLUSTERED 
(
	[exchangeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RewardMonthyStatistical]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RewardMonthyStatistical](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[platformProviderId] [int] NOT NULL,
	[policyId] [int] NOT NULL,
	[taskId] [int] NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[monthAndYear] [varchar](16) NULL,
	[shopGradeId] [int] NULL,
	[totalAmountRatio] [varchar](20) NULL,
	[totalAmount] [int] NULL,
	[totalRewardMoney] [decimal](8, 2) NULL,
	[SMAomout] [int] NULL,
	[SMAomoutRatio] [varchar](20) NULL,
	[SMRewardMoney] [decimal](8, 2) NULL,
	[TVAmount] [int] NULL,
	[TVAmountRatio] [varchar](20) NULL,
	[TVRewardMoney] [decimal](8, 2) NULL,
	[realShopAppearanceScore] [int] NULL,
	[realShopAppearanceRewardMoney] [decimal](8, 2) NULL,
	[statisticalTime] [datetime] NULL,
	[statisticalRemark] [varchar](1024) NULL,
	[finalPolicyMoney] [decimal](8, 2) NULL,
	[finalSumMoney] [decimal](8, 2) NULL,
	[finalMaxMoney] [decimal](8, 2) NULL,
	[areaManagerId] [int] NULL,
	[userSpecialAward] [decimal](8, 2) NULL,
	[platformSpecialAward] [decimal](8, 2) NULL,
	[specialAmountRate] [varchar](20) NULL,
	[specialAmount] [int] NULL,
	[scoreOfMonth] [int] NULL,
	[scoreOfMonthRatio] [varchar](20) NULL,
	[recognizedAmount] [decimal](18, 0) NULL,
	[isReceivedConfirmation] [bit] NULL,
	[isConfirmPrototypeAmountunt] [bit] NULL,
	[isConfirmSpecialAmount] [bit] NULL,
	[isConfirmBrandAmount] [bit] NULL,
	[GDPAmountRatio] [varchar](20) NULL,
	[GDPAmount] [int] NULL,
	[GDPRewardMoney] [decimal](8, 2) NULL,
	[ScoreRewardMoney] [decimal](8, 2) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RewardMonthyStatistical] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RewardMonthyStatistical] ON
SET IDENTITY_INSERT [dbo].[RewardMonthyStatistical] OFF
/****** Object:  Table [dbo].[ProductExPropertyProductVersions]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductExPropertyProductVersions](
	[ProductVersion_id] [int] NOT NULL,
	[ProductExProperty_id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductExPropertyProductVersions] PRIMARY KEY CLUSTERED 
(
	[ProductExProperty_id] ASC,
	[ProductVersion_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agreement]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agreement](
	[agreementId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[shopID] [varchar](50) NOT NULL,
	[platformProviderManagerId] [int] NOT NULL,
	[areaProviderCompanyName] [varchar](128) NULL,
	[areaManagerId] [int] NULL,
	[agreementTemplate] [int] NOT NULL,
	[agrementYearOfDate] [int] NULL,
	[agreementType] [int] NULL,
	[agreementStatus] [varchar](50) NULL,
	[agreementContent] [varchar](max) NOT NULL,
	[beginTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[approveFlow] [varchar](50) NULL,
	[nextApproveRole] [int] NOT NULL,
	[attachment] [varchar](128) NULL,
	[createTime] [datetime] NULL,
	[clienttype] [varchar](20) NULL,
	[fixture] [varchar](20) NULL,
	[samplenum] [int] NULL,
	[samplemoney] [decimal](8, 2) NULL,
	[sampledate] [datetime] NULL,
	[rentLimitTime] [datetime] NULL,
	[shopdoortype] [varchar](20) NULL,
	[idCardNumber] [varchar](20) NULL,
	[name] [varchar](128) NULL,
	[mobilePhoneNumber] [varchar](20) NULL,
	[email] [varchar](128) NULL,
	[shopGrade] [int] NULL,
	[addr_ProvinceID] [int] NULL,
	[addr_CityID] [int] NULL,
	[addr_DistrictID] [int] NULL,
	[addr_Province] [varchar](50) NULL,
	[addr_City] [varchar](50) NULL,
	[addr_District] [varchar](128) NULL,
	[addr_Town] [varchar](128) NULL,
	[addr_Street] [varchar](128) NULL,
	[addr_Detail] [varchar](128) NULL,
	[shopName] [varchar](128) NULL,
	[companyName] [varchar](128) NULL,
	[shopUrl] [varchar](256) NULL,
	[lanhaifuzeren] [varchar](128) NULL,
	[isFirstAgreement] [bit] NULL,
	[isRealShop] [bit] NULL,
	[wangwang] [varchar](100) NULL,
	[totalAmount] [int] NULL,
	[modelAmount] [int] NULL,
	[amountRatio] [varchar](10) NULL,
	[dpxz] [varchar](10) NULL,
	[originOpenTime] [datetime] NULL,
	[TenantId] [int] NULL,
 CONSTRAINT [PK_dbo.Agreement] PRIMARY KEY CLUSTERED 
(
	[agreementId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SNImport]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SNImport](
	[importId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[sellerId] [int] NOT NULL,
	[sellTime] [datetime] NOT NULL,
	[score] [int] NOT NULL,
	[productVesionId] [int] NOT NULL,
	[productVesionName] [varchar](50) NOT NULL,
	[productExProperties] [varchar](128) NOT NULL,
	[productSerialId] [int] NOT NULL,
	[productSerialName] [varchar](50) NOT NULL,
	[productLineId] [int] NOT NULL,
	[productLineName] [varchar](50) NOT NULL,
	[importTime] [datetime] NOT NULL,
	[platformProviderManagerId] [int] NOT NULL,
	[areaManagerId] [int] NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[sn] [varchar](50) NOT NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_SNImport] PRIMARY KEY CLUSTERED 
(
	[importId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [PK_SNImport_sn] ON [dbo].[SNImport] 
(
	[sn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SNImport] ON
INSERT [dbo].[SNImport] ([importId], [userId], [sellerId], [sellTime], [score], [productVesionId], [productVesionName], [productExProperties], [productSerialId], [productSerialName], [productLineId], [productLineName], [importTime], [platformProviderManagerId], [areaManagerId], [year], [month], [sn], [TenantId]) VALUES (2263795, 1043, 176, CAST(0x0000A58000000000 AS DateTime), 3, 200, N'I2276VW', N'浅蓝,[ADS]', 17, N'76S', 2, N'MNT', CAST(0x0000A58000040712 AS DateTime), 131, 93, 2016, 1, N'E02F7BA0017605X', 1)
INSERT [dbo].[SNImport] ([importId], [userId], [sellerId], [sellTime], [score], [productVesionId], [productVesionName], [productExProperties], [productSerialId], [productSerialName], [productLineId], [productLineName], [importTime], [platformProviderManagerId], [areaManagerId], [year], [month], [sn], [TenantId]) VALUES (2263796, 1043, 176, CAST(0x0000A58000000000 AS DateTime), 3, 200, N'I2276VW', N'浅蓝,[ADS]', 17, N'76S', 2, N'MNT', CAST(0x0000A5800004074F AS DateTime), 131, 93, 2016, 1, N'E02F8BA003359FF', 1)
INSERT [dbo].[SNImport] ([importId], [userId], [sellerId], [sellTime], [score], [productVesionId], [productVesionName], [productExProperties], [productSerialId], [productSerialName], [productLineId], [productLineName], [importTime], [platformProviderManagerId], [areaManagerId], [year], [month], [sn], [TenantId]) VALUES (2263797, 1043, 176, CAST(0x0000A58000000000 AS DateTime), 10, 645, N'I2381FH', N'HDMI,[Monitor],[深蓝],[SM],[AH-IPS],[中尺寸]', 73, N'81s', 2, N'MNT', CAST(0x0000A580000407A3 AS DateTime), 131, 93, 2016, 1, N'AFMFB9A007001Y6', 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SNImport] OFF
/****** Object:  Table [dbo].[SNGenerate]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SNGenerate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productVersionId] [int] NOT NULL,
	[prefix] [varchar](12) NOT NULL,
	[regionBegin] [int] NOT NULL,
	[regionEnd] [int] NOT NULL,
	[length] [int] NOT NULL,
	[generateTime] [datetime] NOT NULL,
	[managerAccountId] [int] NOT NULL,
	[dateOfProduction] [datetime] NOT NULL,
	[taskStatus] [varchar](max) NULL,
 CONSTRAINT [PK_dbo.SNGenerate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SN]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SN](
	[number] [varchar](50) NOT NULL,
	[generateTaskId] [int] NOT NULL,
	[productVersionId] [int] NULL,
	[snPrefix] [varchar](16) NULL,
	[snValue] [int] NULL,
	[snLast2Char] [varchar](4) NULL,
	[status] [varchar](50) NULL,
	[TenantId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SN] PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AgreementApproveRecord]    Script Date: 07/11/2016 18:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AgreementApproveRecord](
	[recordId] [int] IDENTITY(1,1) NOT NULL,
	[shopAgreementId] [int] NOT NULL,
	[approverUserId] [int] NOT NULL,
	[approverUserName] [varchar](128) NULL,
	[approvResult] [varchar](50) NOT NULL,
	[comment] [varchar](128) NULL,
	[approveTime] [datetime] NULL,
	[shopGrade] [varchar](50) NULL,
	[shopdoortype] [varchar](20) NULL,
	[clienttype] [varchar](20) NULL,
	[fixture] [varchar](20) NULL,
	[samplenum] [int] NULL,
	[samplemoney] [decimal](8, 2) NULL,
	[sampledate] [datetime] NULL,
	[rentLimittime] [datetime] NULL,
	[lanhaifuzeren] [varchar](128) NULL,
	[companyName] [varchar](128) NULL,
	[addr_District] [varchar](128) NULL,
	[addr_Town] [varchar](128) NULL,
	[addr_Detail] [varchar](128) NULL,
	[name] [varchar](50) NULL,
	[mobilePhoneNumber] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.AgreementApproveRecord] PRIMARY KEY CLUSTERED 
(
	[recordId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Agreement_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Agreement] ADD  CONSTRAINT [DF_Agreement_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_AgreementTemplate_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[AgreementTemplate] ADD  CONSTRAINT [DF_AgreementTemplate_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ExchangeObject_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ExchangeObject] ADD  CONSTRAINT [DF_ExchangeObject_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_FreeTrialList_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[FreeTrialList] ADD  CONSTRAINT [DF_FreeTrialList_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_FreeTrialPolicy_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[FreeTrialPolicy] ADD  CONSTRAINT [DF_FreeTrialPolicy_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ManagerAccount_RegionId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ManagerAccount] ADD  CONSTRAINT [DF_ManagerAccount_RegionId]  DEFAULT ((1)) FOR [RegionId]
GO
/****** Object:  Default [DF_ManagerAccount_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ManagerAccount] ADD  CONSTRAINT [DF_ManagerAccount_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ProductExProperty_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductExProperty] ADD  CONSTRAINT [DF_ProductExProperty_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ProductForFreeTrail_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductForFreeTrail] ADD  CONSTRAINT [DF_ProductForFreeTrail_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ProductLine_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductLine] ADD  CONSTRAINT [DF_ProductLine_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ProductSerial_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductSerial] ADD  CONSTRAINT [DF_ProductSerial_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ProductVersion_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductVersion] ADD  CONSTRAINT [DF_ProductVersion_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_Region_CreateTime]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Region] ADD  CONSTRAINT [DF_Region_CreateTime]  DEFAULT ('2016-06-07T14:07:17') FOR [CreateTime]
GO
/****** Object:  Default [DF_RewardMonthyStatistical_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[RewardMonthyStatistical] ADD  CONSTRAINT [DF_RewardMonthyStatistical_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_Roles_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_S_Province_RegionId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[S_Province] ADD  CONSTRAINT [DF_S_Province_RegionId]  DEFAULT ((1)) FOR [RegionId]
GO
/****** Object:  Default [DF_ScoreExchangeRecord_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ScoreExchangeRecord] ADD  CONSTRAINT [DF_ScoreExchangeRecord_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ScorePolicy_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ScorePolicy] ADD  CONSTRAINT [DF_ScorePolicy_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF__SEMReward__maxSc__336AA144]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SEMRewardPolicy] ADD  DEFAULT ((0)) FOR [maxScore]
GO
/****** Object:  Default [DF__SEMReward__notSt__345EC57D]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SEMRewardPolicy] ADD  DEFAULT ((0)) FOR [notStreetReward]
GO
/****** Object:  Default [DF__SEMReward__stree__3552E9B6]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SEMRewardPolicy] ADD  DEFAULT ((0)) FOR [streetReward]
GO
/****** Object:  Default [DF_SEMRewardPolicy_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SEMRewardPolicy] ADD  CONSTRAINT [DF_SEMRewardPolicy_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopGrade_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopGrade] ADD  CONSTRAINT [DF_ShopGrade_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopReviewItem_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopReviewItem] ADD  CONSTRAINT [DF_ShopReviewItem_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopReviewRecord_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopReviewRecord] ADD  CONSTRAINT [DF_ShopReviewRecord_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopReviewRecordDetail_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopReviewRecordDetail] ADD  CONSTRAINT [DF_ShopReviewRecordDetail_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopScore_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopScore] ADD  CONSTRAINT [DF_ShopScore_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopSeller_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopSeller] ADD  CONSTRAINT [DF_ShopSeller_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopSellerRole_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopSellerRole] ADD  CONSTRAINT [DF_ShopSellerRole_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_ShopSeriesNumber_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopSeriesNumber] ADD  CONSTRAINT [DF_ShopSeriesNumber_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_SN_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SN] ADD  CONSTRAINT [DF_SN_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_SNComplain_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SNComplain] ADD  CONSTRAINT [DF_SNComplain_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF__SNImport__sn__214BF109]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SNImport] ADD  DEFAULT ('') FOR [sn]
GO
/****** Object:  Default [DF_SNImport_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SNImport] ADD  CONSTRAINT [DF_SNImport_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_SNRecycle_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SNRecycle] ADD  CONSTRAINT [DF_SNRecycle_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_SNRecycleDetail_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SNRecycleDetail] ADD  CONSTRAINT [DF_SNRecycleDetail_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_SpecialRewardPolicy_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SpecialRewardPolicy] ADD  CONSTRAINT [DF_SpecialRewardPolicy_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_SpecialRewardPolicyDetail_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SpecialRewardPolicyDetail] ADD  CONSTRAINT [DF_SpecialRewardPolicyDetail_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_StatusCollection_CreateTime]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[StatusCollection] ADD  CONSTRAINT [DF_StatusCollection_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
/****** Object:  Default [DF_UserAccount_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserAccount] ADD  CONSTRAINT [DF_UserAccount_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  Default [DF_UserPermissions_Grant]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserPermissions] ADD  CONSTRAINT [DF_UserPermissions_Grant]  DEFAULT ((1)) FOR [Grant]
GO
/****** Object:  Default [DF_Users_IsActive]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_Users_TenantId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_TenantId]  DEFAULT ((1)) FOR [TenantId]
GO
/****** Object:  ForeignKey [FK_Agreement_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK_Agreement_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK_Agreement_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.Agreement_dbo.AgreementTemplate_agreementTemplate]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Agreement_dbo.AgreementTemplate_agreementTemplate] FOREIGN KEY([agreementTemplate])
REFERENCES [dbo].[AgreementTemplate] ([Id])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK_dbo.Agreement_dbo.AgreementTemplate_agreementTemplate]
GO
/****** Object:  ForeignKey [FK_dbo.Agreement_dbo.ManagerRole_nextApproveRole]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Agreement_dbo.ManagerRole_nextApproveRole] FOREIGN KEY([nextApproveRole])
REFERENCES [dbo].[ManagerRole] ([id])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK_dbo.Agreement_dbo.ManagerRole_nextApproveRole]
GO
/****** Object:  ForeignKey [FK_dbo.Agreement_dbo.UserAccount_userId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Agreement]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Agreement_dbo.UserAccount_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[Agreement] CHECK CONSTRAINT [FK_dbo.Agreement_dbo.UserAccount_userId]
GO
/****** Object:  ForeignKey [FK_dbo.AgreementApproveRecord_dbo.Agreement_shopAgreementId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[AgreementApproveRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AgreementApproveRecord_dbo.Agreement_shopAgreementId] FOREIGN KEY([shopAgreementId])
REFERENCES [dbo].[Agreement] ([agreementId])
GO
ALTER TABLE [dbo].[AgreementApproveRecord] CHECK CONSTRAINT [FK_dbo.AgreementApproveRecord_dbo.Agreement_shopAgreementId]
GO
/****** Object:  ForeignKey [FK_dbo.AgreementApproveRecord_dbo.AgreementApproveResult_approvResult]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[AgreementApproveRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AgreementApproveRecord_dbo.AgreementApproveResult_approvResult] FOREIGN KEY([approvResult])
REFERENCES [dbo].[AgreementApproveResult] ([approveResult])
GO
ALTER TABLE [dbo].[AgreementApproveRecord] CHECK CONSTRAINT [FK_dbo.AgreementApproveRecord_dbo.AgreementApproveResult_approvResult]
GO
/****** Object:  ForeignKey [FK_AgreementTemplate_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[AgreementTemplate]  WITH CHECK ADD  CONSTRAINT [FK_AgreementTemplate_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[AgreementTemplate] CHECK CONSTRAINT [FK_AgreementTemplate_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.AgreementTemplate_dbo.ShopGrade_shopGradId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[AgreementTemplate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AgreementTemplate_dbo.ShopGrade_shopGradId] FOREIGN KEY([shopGradeId])
REFERENCES [dbo].[ShopGrade] ([Id])
GO
ALTER TABLE [dbo].[AgreementTemplate] CHECK CONSTRAINT [FK_dbo.AgreementTemplate_dbo.ShopGrade_shopGradId]
GO
/****** Object:  ForeignKey [FK_ExchangeObject_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ExchangeObject]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeObject_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ExchangeObject] CHECK CONSTRAINT [FK_ExchangeObject_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.ProductFreeTrialList_dbo.ProductForFreeTrail_freeTrialId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[FreeTrialList]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductFreeTrialList_dbo.ProductForFreeTrail_freeTrialId] FOREIGN KEY([freeTrialId])
REFERENCES [dbo].[ProductForFreeTrail] ([trialId])
GO
ALTER TABLE [dbo].[FreeTrialList] CHECK CONSTRAINT [FK_dbo.ProductFreeTrialList_dbo.ProductForFreeTrail_freeTrialId]
GO
/****** Object:  ForeignKey [FK_FreeTrialList_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[FreeTrialList]  WITH CHECK ADD  CONSTRAINT [FK_FreeTrialList_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[FreeTrialList] CHECK CONSTRAINT [FK_FreeTrialList_Tenants]
GO
/****** Object:  ForeignKey [FK_FreeTrialPolicy_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[FreeTrialPolicy]  WITH CHECK ADD  CONSTRAINT [FK_FreeTrialPolicy_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[FreeTrialPolicy] CHECK CONSTRAINT [FK_FreeTrialPolicy_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.ManagerAccount_dbo.ManagerRole_roleId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ManagerAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ManagerAccount_dbo.ManagerRole_roleId] FOREIGN KEY([roleId])
REFERENCES [dbo].[ManagerRole] ([id])
GO
ALTER TABLE [dbo].[ManagerAccount] CHECK CONSTRAINT [FK_dbo.ManagerAccount_dbo.ManagerRole_roleId]
GO
/****** Object:  ForeignKey [FK_ManagerAccount_ProvinceId_S_Province_provinceId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ManagerAccount]  WITH CHECK ADD  CONSTRAINT [FK_ManagerAccount_ProvinceId_S_Province_provinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[S_Province] ([provinceId])
GO
ALTER TABLE [dbo].[ManagerAccount] CHECK CONSTRAINT [FK_ManagerAccount_ProvinceId_S_Province_provinceId]
GO
/****** Object:  ForeignKey [FK_ManagerAccount_RegionId_Region_Id]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ManagerAccount]  WITH CHECK ADD  CONSTRAINT [FK_ManagerAccount_RegionId_Region_Id] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[ManagerAccount] CHECK CONSTRAINT [FK_ManagerAccount_RegionId_Region_Id]
GO
/****** Object:  ForeignKey [FK_ManagerAccount_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ManagerAccount]  WITH CHECK ADD  CONSTRAINT [FK_ManagerAccount_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ManagerAccount] CHECK CONSTRAINT [FK_ManagerAccount_Tenants]
GO
/****** Object:  ForeignKey [FK_ProductExProperty_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductExProperty]  WITH CHECK ADD  CONSTRAINT [FK_ProductExProperty_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ProductExProperty] CHECK CONSTRAINT [FK_ProductExProperty_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.ProductVersionProductExProperties_dbo.ProductExProperty_ProductExProperty_id]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductExPropertyProductVersions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVersionProductExProperties_dbo.ProductExProperty_ProductExProperty_id] FOREIGN KEY([ProductExProperty_id])
REFERENCES [dbo].[ProductExProperty] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductExPropertyProductVersions] CHECK CONSTRAINT [FK_dbo.ProductVersionProductExProperties_dbo.ProductExProperty_ProductExProperty_id]
GO
/****** Object:  ForeignKey [FK_dbo.ProductVersionProductExProperties_dbo.ProductVersion_ProductVersion_id]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductExPropertyProductVersions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVersionProductExProperties_dbo.ProductVersion_ProductVersion_id] FOREIGN KEY([ProductVersion_id])
REFERENCES [dbo].[ProductVersion] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductExPropertyProductVersions] CHECK CONSTRAINT [FK_dbo.ProductVersionProductExProperties_dbo.ProductVersion_ProductVersion_id]
GO
/****** Object:  ForeignKey [FK_ProductForFreeTrail_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductForFreeTrail]  WITH CHECK ADD  CONSTRAINT [FK_ProductForFreeTrail_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ProductForFreeTrail] CHECK CONSTRAINT [FK_ProductForFreeTrail_Tenants]
GO
/****** Object:  ForeignKey [FK_ProductLine_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductLine]  WITH CHECK ADD  CONSTRAINT [FK_ProductLine_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ProductLine] CHECK CONSTRAINT [FK_ProductLine_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.ProductSerial_dbo.ProductLine_ProductLineId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductSerial]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductSerial_dbo.ProductLine_ProductLineId] FOREIGN KEY([ProductLineId])
REFERENCES [dbo].[ProductLine] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSerial] CHECK CONSTRAINT [FK_dbo.ProductSerial_dbo.ProductLine_ProductLineId]
GO
/****** Object:  ForeignKey [FK_ProductSerial_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductSerial]  WITH CHECK ADD  CONSTRAINT [FK_ProductSerial_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ProductSerial] CHECK CONSTRAINT [FK_ProductSerial_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.ProductVersion_dbo.ProductSerial_ProductSerialId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductVersion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVersion_dbo.ProductSerial_ProductSerialId] FOREIGN KEY([ProductSerialId])
REFERENCES [dbo].[ProductSerial] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVersion] CHECK CONSTRAINT [FK_dbo.ProductVersion_dbo.ProductSerial_ProductSerialId]
GO
/****** Object:  ForeignKey [FK_ProductVersion_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ProductVersion]  WITH CHECK ADD  CONSTRAINT [FK_ProductVersion_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ProductVersion] CHECK CONSTRAINT [FK_ProductVersion_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.RewardMonthyStatistical_dbo.UserAccount_userId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[RewardMonthyStatistical]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RewardMonthyStatistical_dbo.UserAccount_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[RewardMonthyStatistical] CHECK CONSTRAINT [FK_dbo.RewardMonthyStatistical_dbo.UserAccount_userId]
GO
/****** Object:  ForeignKey [FK_RewardMonthyStatistical_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[RewardMonthyStatistical]  WITH CHECK ADD  CONSTRAINT [FK_RewardMonthyStatistical_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[RewardMonthyStatistical] CHECK CONSTRAINT [FK_RewardMonthyStatistical_Tenants]
GO
/****** Object:  ForeignKey [FK_RolePermissions_RoleId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_RoleId]
GO
/****** Object:  ForeignKey [FK_Roles_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.S_City_dbo.S_Province_provinceId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[S_City]  WITH CHECK ADD  CONSTRAINT [FK_dbo.S_City_dbo.S_Province_provinceId] FOREIGN KEY([provinceId])
REFERENCES [dbo].[S_Province] ([provinceId])
GO
ALTER TABLE [dbo].[S_City] CHECK CONSTRAINT [FK_dbo.S_City_dbo.S_Province_provinceId]
GO
/****** Object:  ForeignKey [FK_S_Province_RegionId_Region_Id]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[S_Province]  WITH CHECK ADD  CONSTRAINT [FK_S_Province_RegionId_Region_Id] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[S_Province] CHECK CONSTRAINT [FK_S_Province_RegionId_Region_Id]
GO
/****** Object:  ForeignKey [FK_dbo.ScoreExchangeRecord_dbo.ExchangeObject_objectId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ScoreExchangeRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScoreExchangeRecord_dbo.ExchangeObject_objectId] FOREIGN KEY([objectId])
REFERENCES [dbo].[ExchangeObject] ([objectId])
GO
ALTER TABLE [dbo].[ScoreExchangeRecord] CHECK CONSTRAINT [FK_dbo.ScoreExchangeRecord_dbo.ExchangeObject_objectId]
GO
/****** Object:  ForeignKey [FK_dbo.ScoreExchangeRecord_dbo.UserAccount_userId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ScoreExchangeRecord]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScoreExchangeRecord_dbo.UserAccount_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[ScoreExchangeRecord] CHECK CONSTRAINT [FK_dbo.ScoreExchangeRecord_dbo.UserAccount_userId]
GO
/****** Object:  ForeignKey [FK_ScoreExchangeRecord_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ScoreExchangeRecord]  WITH CHECK ADD  CONSTRAINT [FK_ScoreExchangeRecord_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ScoreExchangeRecord] CHECK CONSTRAINT [FK_ScoreExchangeRecord_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.ScorePolicy_dbo.ProductVersion_productVersionId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ScorePolicy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScorePolicy_dbo.ProductVersion_productVersionId] FOREIGN KEY([productVersionId])
REFERENCES [dbo].[ProductVersion] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScorePolicy] CHECK CONSTRAINT [FK_dbo.ScorePolicy_dbo.ProductVersion_productVersionId]
GO
/****** Object:  ForeignKey [FK_ScorePolicy_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ScorePolicy]  WITH CHECK ADD  CONSTRAINT [FK_ScorePolicy_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ScorePolicy] CHECK CONSTRAINT [FK_ScorePolicy_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.SEMProperty_dbo.SEMProperty_SEMProperty2_id]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SEMProperty]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SEMProperty_dbo.SEMProperty_SEMProperty2_id] FOREIGN KEY([SEMProperty2_id])
REFERENCES [dbo].[SEMProperty] ([id])
GO
ALTER TABLE [dbo].[SEMProperty] CHECK CONSTRAINT [FK_dbo.SEMProperty_dbo.SEMProperty_SEMProperty2_id]
GO
/****** Object:  ForeignKey [FK_dbo.SEMRewardPolicy_dbo.ShopGrade_shopGradeId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SEMRewardPolicy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SEMRewardPolicy_dbo.ShopGrade_shopGradeId] FOREIGN KEY([shopGradeId])
REFERENCES [dbo].[ShopGrade] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SEMRewardPolicy] CHECK CONSTRAINT [FK_dbo.SEMRewardPolicy_dbo.ShopGrade_shopGradeId]
GO
/****** Object:  ForeignKey [FK_SEMRewardPolicy_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SEMRewardPolicy]  WITH CHECK ADD  CONSTRAINT [FK_SEMRewardPolicy_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[SEMRewardPolicy] CHECK CONSTRAINT [FK_SEMRewardPolicy_Tenants]
GO
/****** Object:  ForeignKey [FK_ShopGrade_ShopGrade]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopGrade]  WITH CHECK ADD  CONSTRAINT [FK_ShopGrade_ShopGrade] FOREIGN KEY([Id])
REFERENCES [dbo].[ShopGrade] ([Id])
GO
ALTER TABLE [dbo].[ShopGrade] CHECK CONSTRAINT [FK_ShopGrade_ShopGrade]
GO
/****** Object:  ForeignKey [FK_ShopGrade_StatusCollection]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopGrade]  WITH CHECK ADD  CONSTRAINT [FK_ShopGrade_StatusCollection] FOREIGN KEY([status])
REFERENCES [dbo].[StatusCollection] ([Id])
GO
ALTER TABLE [dbo].[ShopGrade] CHECK CONSTRAINT [FK_ShopGrade_StatusCollection]
GO
/****** Object:  ForeignKey [FK_ShopGrade_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopGrade]  WITH CHECK ADD  CONSTRAINT [FK_ShopGrade_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[ShopGrade] CHECK CONSTRAINT [FK_ShopGrade_Tenants]
GO
/****** Object:  ForeignKey [FK_dbo.ShopReviewRecordDetail_dbo.ShopReviewItem_reviewItemId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopReviewRecordDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopReviewRecordDetail_dbo.ShopReviewItem_reviewItemId] FOREIGN KEY([reviewItemId])
REFERENCES [dbo].[ShopReviewItem] ([itemId])
GO
ALTER TABLE [dbo].[ShopReviewRecordDetail] CHECK CONSTRAINT [FK_dbo.ShopReviewRecordDetail_dbo.ShopReviewItem_reviewItemId]
GO
/****** Object:  ForeignKey [FK_dbo.ShopReviewRecordDetail_dbo.ShopReviewRecord_recordId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopReviewRecordDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopReviewRecordDetail_dbo.ShopReviewRecord_recordId] FOREIGN KEY([recordId])
REFERENCES [dbo].[ShopReviewRecord] ([reviewId])
GO
ALTER TABLE [dbo].[ShopReviewRecordDetail] CHECK CONSTRAINT [FK_dbo.ShopReviewRecordDetail_dbo.ShopReviewRecord_recordId]
GO
/****** Object:  ForeignKey [FK_dbo.ShopSeller_dbo.ShopSellerRole_roleName]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopSeller]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopSeller_dbo.ShopSellerRole_roleName] FOREIGN KEY([roleName])
REFERENCES [dbo].[ShopSellerRole] ([roleName])
GO
ALTER TABLE [dbo].[ShopSeller] CHECK CONSTRAINT [FK_dbo.ShopSeller_dbo.ShopSellerRole_roleName]
GO
/****** Object:  ForeignKey [FK_dbo.ShopSeller_dbo.UserAccount_userId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[ShopSeller]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShopSeller_dbo.UserAccount_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[ShopSeller] CHECK CONSTRAINT [FK_dbo.ShopSeller_dbo.UserAccount_userId]
GO
/****** Object:  ForeignKey [FK_dbo.SN_dbo.SNGenerate_generateTaskId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SN]  WITH NOCHECK ADD  CONSTRAINT [FK_dbo.SN_dbo.SNGenerate_generateTaskId] FOREIGN KEY([generateTaskId])
REFERENCES [dbo].[SNGenerate] ([id])
GO
ALTER TABLE [dbo].[SN] CHECK CONSTRAINT [FK_dbo.SN_dbo.SNGenerate_generateTaskId]
GO
/****** Object:  ForeignKey [FK_dbo.SNGenerate_dbo.ProductVersion_productVersionId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SNGenerate]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SNGenerate_dbo.ProductVersion_productVersionId] FOREIGN KEY([productVersionId])
REFERENCES [dbo].[ProductVersion] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SNGenerate] CHECK CONSTRAINT [FK_dbo.SNGenerate_dbo.ProductVersion_productVersionId]
GO
/****** Object:  ForeignKey [FK_SNImport_UserAccount]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SNImport]  WITH CHECK ADD  CONSTRAINT [FK_SNImport_UserAccount] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[SNImport] CHECK CONSTRAINT [FK_SNImport_UserAccount]
GO
/****** Object:  ForeignKey [FK_dbo.SpecialRewardPolicyDetail_dbo.SpecialRewardPolicy_policyId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SpecialRewardPolicyDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SpecialRewardPolicyDetail_dbo.SpecialRewardPolicy_policyId] FOREIGN KEY([policyId])
REFERENCES [dbo].[SpecialRewardPolicy] ([policyId])
GO
ALTER TABLE [dbo].[SpecialRewardPolicyDetail] CHECK CONSTRAINT [FK_dbo.SpecialRewardPolicyDetail_dbo.SpecialRewardPolicy_policyId]
GO
/****** Object:  ForeignKey [FK_dbo.SysMessage_dbo.SysMessageHistory_taskId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[SysMessage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SysMessage_dbo.SysMessageHistory_taskId] FOREIGN KEY([taskId])
REFERENCES [dbo].[SysMessageHistory] ([taskId])
GO
ALTER TABLE [dbo].[SysMessage] CHECK CONSTRAINT [FK_dbo.SysMessage_dbo.SysMessageHistory_taskId]
GO
/****** Object:  ForeignKey [FK_dbo.UserAccount_dbo.S_City_addr_CityID]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAccount_dbo.S_City_addr_CityID] FOREIGN KEY([addr_CityID])
REFERENCES [dbo].[S_City] ([cityId])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_dbo.UserAccount_dbo.S_City_addr_CityID]
GO
/****** Object:  ForeignKey [FK_dbo.UserAccount_dbo.S_District_addr_DistrictID]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAccount_dbo.S_District_addr_DistrictID] FOREIGN KEY([addr_DistrictID])
REFERENCES [dbo].[S_District] ([districtId])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_dbo.UserAccount_dbo.S_District_addr_DistrictID]
GO
/****** Object:  ForeignKey [FK_dbo.UserAccount_dbo.S_Province_addr_ProvinceID]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAccount_dbo.S_Province_addr_ProvinceID] FOREIGN KEY([addr_ProvinceID])
REFERENCES [dbo].[S_Province] ([provinceId])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_dbo.UserAccount_dbo.S_Province_addr_ProvinceID]
GO
/****** Object:  ForeignKey [FK_UserPermissions_UserId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissions_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_UserPermissions_UserId]
GO
/****** Object:  ForeignKey [FK_UserRoles_RoleId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_UserRoles_UserId]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_UserId]
GO
/****** Object:  ForeignKey [FK_Users_Region]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Region]
GO
/****** Object:  ForeignKey [FK_Users_S_Province]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_S_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[S_Province] ([provinceId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_S_Province]
GO
/****** Object:  ForeignKey [FK_Users_Tenants]    Script Date: 07/11/2016 18:53:28 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Tenants] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Tenants]
GO
