set identity_insert  [Aoc].[dbo].[UserAccount] on

insert into [Aoc].[dbo].[UserAccount]([userId]
      ,[shopID]
      ,[userName]
      ,[password]
      ,[platformProviderManagerId]
      ,[platformProviderManagerUserName]
      ,[areaManagerId]
      ,[areaManagerUserName]
      ,[addr_ProvinceID]
      ,[addr_Province]
      ,[addr_CityID]
      ,[addr_City]
      ,[addr_DistrictID]
      ,[addr_District]
      ,[addr_Town]
      ,[addr_Street]
      ,[addr_Detail]
      ,[gender]
      ,[idCardNumber]
      ,[name]
      ,[mobilePhoneNumber]
      ,[telePhoneNumber]
      ,[email]
      ,[createTime]
      ,[lastLoginTime]
      ,[isNew]
      ,[isRealShop]
      ,[isStreetShop]
      ,[userStatus]
     
      ,[shopStatus]
     
      ,[shopName]
      ,[companyName]
      ,[shopExpiredTime]
      ,[shopOpenTime]
      ,[shopCloseTime]
      ,[onlineShopUrl]
      ,[scoreOfTotal]
      ,[scoreOfPunish]
      ,[scoreOfExchange]
      ,[scoreOfRemain]
      ,[isFirstAgreement]
      ,[lanhaifuzeren])
SELECT [userId]
      ,[shopID]
      ,[userName]
      ,[password]
      ,[platformProviderManagerId]
      ,[platformProviderManagerUserName]
      ,[areaManagerId]
      ,[areaManagerUserName]
      ,[addr_ProvinceID]
      ,[addr_Province]
      ,[addr_CityID]
      ,[addr_City]
      ,[addr_DistrictID]
      ,[addr_District]
      ,[addr_Town]
      ,[addr_Street]
      ,[addr_Detail]
      ,[gender]
      ,[idCardNumber]
      ,[name]
      ,[mobilePhoneNumber]
      ,[telePhoneNumber]
      ,[email]
      ,[createTime]
      ,[lastLoginTime]
      ,[isNew]
      ,[isRealShop]
      ,[isStreetShop]
      ,[userStatus]
     
      ,[shopStatus]
     
      ,[shopName]
      ,[companyName]
      ,[shopExpiredTime]
      ,[shopOpenTime]
      ,[shopCloseTime]
      ,[onlineShopUrl]
      ,[scoreOfTotal]
      ,[scoreOfPunish]
      ,[scoreOfExchange]
      ,[scoreOfRemain]
      ,[isFirstAgreement]
      ,[lanhaifuzeren]
  FROM [AOC_integral].[dbo].[tb_UserAccount]