set identity_insert  [Aoc].[dbo].[SNImport] on
  insert into [Aoc].[dbo].[SNImport](
  [importId]
      ,[userId]
      ,[sellerId]
      ,[sellTime]
      ,[score]
      ,[productVesionId]
      ,[productVesionName]
      ,[productExProperties]
      ,[productSerialId]
      ,[productSerialName]
      ,[productLineId]
      ,[productLineName]
      ,[importTime]
      ,[platformProviderManagerId]
      ,[areaManagerId]
      ,[year]
      ,[month]
      ,[sn]
     -- ,[TenantId]
      )
  SELECT [importId]
      ,[userId]
      ,[sellerId]
      ,[sellTime]
      
      ,[score]
      ,[productVesionId]
      ,[productVesionName]
      ,[productExProperties]
      ,[productSerialId]
      ,[productSerialName]
      ,[productLineId]
      ,[productLineName]
      ,[importTime]
      ,[platformProviderManagerId]
      ,[areaManagerId]
      ,[year]
      ,[month]
      ,[serialNumber] as sn
  FROM [AOC_integral].[dbo].[tb_UserSerialNumberImport]
  where productSerialName is not null 
  and importTime > '2015-12-31 23:59:59'