
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Aoc.Agreement.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new DiiL.Serene.Aoc.AgreementGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>