@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.basicsamples.less";
@import "site.membership.less";
@import "site.northwind.less";

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-ManagerRoleDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-ManagerAccountDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-ShopGradeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-AgreementTemplateDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-AgreementDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-SnGenerateDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-SnDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-SnImportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-ProductLineDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-ProductSerialDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-ProductVersionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-SProvinceDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-SCityDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-SDistrictDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-Aoc-RegionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}